<div class="row">
  <div class="col-lg-6">

    <section class="vh-100" style="background-color: #eee;">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px;">
              <div class="card-body p-md-5">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                    <form class="mx-1 mx-md-4">

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <label class="form-label">Your Name</label>

                          <input type="text" id="form3Example1c" name="name" class="form-control"
                            [(ngModel)]="signUpObj.name" />
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <label class="form-label" for="form3Example3c">Your Email</label>

                          <input type="email" id="form3Example3c" name="email" [(ngModel)]="signUpObj.email"
                            class="form-control" />
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <label class="form-label" for="form3Example4c">Password</label>

                          <input type="password" id="form3Example4c" class="form-control" name="password"
                            [(ngModel)]="signUpObj.password" />
                        </div>
                      </div>


                      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button (click)="onSignUp()" type="button" class="btn btn-primary btn-lg">Register</button>
                      </div>

                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>


  <!-- LogIn form -->

  <div class="col-lg-6">
    <section class="vh-75 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 ">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">

                <div class="mb-md-5 mt-md-4 pb-5">

                  <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                  <p class="text-white-50 mb-5">Please enter your login and password!</p>

                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="typeEmailX">Email</label>

                    <input type="email" name="email" [(ngModel)]="loginObj.username"
                      class="form-control form-control-lg" />
                  </div>

                  <div class="form-outline form-white mb-4">
                    <label class="form-label">Password</label>

                    <input type="password" name="passuiword" [(ngModel)]="loginObj.password"
                      class="form-control form-control-lg" />
                  </div>


                  <button class="btn btn-outline-light btn-lg px-5" (click)="onLogin()" type="submit">Login</button>

                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
